Documentation/Archive/CF1R XML Rpt Schemas/2019/Base/DataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp2 (http://www.altova.com) by Diane Pepetone (L'Monte Information Services) -->
<xsd:schema xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lmonte.com/besm/dtyp" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2019.1.000">
	<xsd:annotation>
		<xsd:appinfo>
			<copyright>Copyright 2014, L'Monte Information Services, Inc. This software is distributed under the terms of the GNU General Public License version 3 (the LICENSE).
            This software is free software as defined by the LICENSE and may be redistributed or modified by you (the LICENSEE) under the terms and conditions specified by the LICENSE.
            Disclaimer: this software is distributed without any warranty express or implied including the implied warranty of merchantability or fitness for a particular purpose.
            The rights and obligations of the LICENSEE are specified in the LICENSE. For a copy of the LICENSE, see http://www.gnu.org/licenses.</copyright>
			<releaseInfo>All versions of this document prior to version 1.0 are pre-release and should be regarded as experimental.</releaseInfo>
			<schemaInfo>Schema generated by ddtools build 126.</schemaInfo>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:simpleType name="Area">
		<xsd:annotation>
			<xsd:documentation>Area is the two dimensional extent of a surface.  For horizontal rectangular areas, such as most floor areas, it is calculated by multiplying the linear extent of each dimension, usually referred to as Width and Length. For vertical rectangular surfaces such as walls, the vertical linear dimension is usually referred to as Height and the horizontal may be called Width or Length.  Units: ft2</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="Azimuth">
		<xsd:annotation>
			<xsd:documentation>A measure of the orientation of a planar surface.  The azimuth of any planar building surface element is measured in the plane upon which the building sits (the base plane).   It is the angle, measured clockwise, between the true North vector and the outward pointing normal to the building surface element.  The azimuth of a North-facing building surface is thus 0 degrees.  Units: degrees  Cardinal orientation of north, south, east and west can be derived from the Azimuth  Units: deg arc</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="City">
		<xsd:annotation>
			<xsd:documentation>Part of an address</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ConversionIPToSI">
		<xsd:annotation>
			<xsd:documentation>A type holding the denominate number conversion factor from the inch-pound system to the SI system.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="ConversionSIToIP">
		<xsd:annotation>
			<xsd:documentation>A type holding the denominate number conversion factor from the SI system to the inch-pound system.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="Currency">
		<xsd:annotation>
			<xsd:documentation>The national currency in terms of which a specific monetary charge is computed.  Indicated values are taken from ISO 4217.  The range of values is currently truncated for use only in the United States.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="USD">
				<xsd:annotation>
					<xsd:documentation>US dollar</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DayOfWeek">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="Sunday"/>
			<xsd:enumeration value="Monday"/>
			<xsd:enumeration value="Tuesday"/>
			<xsd:enumeration value="Wednesday"/>
			<xsd:enumeration value="Thursday"/>
			<xsd:enumeration value="Friday"/>
			<xsd:enumeration value="Saturday"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DayOfYear">
		<xsd:annotation>
			<xsd:documentation>A calendar day specifier including the year, month and day of month.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal10Places">
		<xsd:annotation>
			<xsd:documentation>Value of decimal type with 10 decimal places.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal10PlacesNonnegative">
		<xsd:annotation>
			<xsd:documentation>Nonnegative value of decimal type with 10 decimal places.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:fractionDigits value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal1Place">
		<xsd:annotation>
			<xsd:documentation>Basic value of decimal type.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="1" fixed="true"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal1PlaceNonnegative">
		<xsd:annotation>
			<xsd:documentation>Nonnegative value of decimal type with only one decimal place.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal">
			<xsd:minInclusive value="0"/>
			<xsd:fractionDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal3Places">
		<xsd:annotation>
			<xsd:documentation>Basic decimal type with three decimal places.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal3PlacesNegative">
		<xsd:annotation>
			<xsd:documentation>A negative decimal type with three decimal places.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:maxInclusive value="0"/>
			<xsd:fractionDigits value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal3PlacesNonnegative">
		<xsd:annotation>
			<xsd:documentation>Nonnegative value of decimal type with 3 decimal places.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:fractionDigits value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
        <xsd:simpleType name="Decimal4Places">
		<xsd:annotation>
			<xsd:documentation>Basic decimal type with four decimal places.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal4PlacesNonnegative">
		<xsd:annotation>
			<xsd:documentation>Nonnegative value of decimal type with 4 decimal places.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:fractionDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
        <xsd:simpleType name="Decimal5Places">
		<xsd:annotation>
			<xsd:documentation>Basic decimal type with five decimal places.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
        <xsd:simpleType name="Decimal5PlacesNonnegative">
		<xsd:annotation>
			<xsd:documentation>Nonnegative value of decimal type with 5 decimal places.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:fractionDigits value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DecimalNegative">
		<xsd:annotation>
			<xsd:documentation>Basic negative value of decimal type.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal">
			<xsd:maxInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DecimalNonnegative">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal">
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Density">
		<xsd:annotation>
			<xsd:documentation>The density for a material.  Units: pound_per_cubic_foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="Depth">
		<xsd:annotation>
			<xsd:documentation>A type which can be used to express the absolute value of the depth of any geometric object.  Units: foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="DimensionlessRatio">
		<xsd:annotation>
			<xsd:documentation>The ratio between any two numeric values having identical units.  Units: none.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="DisplacementHeight">
		<xsd:annotation>
			<xsd:documentation>The distance between a point and a specified origin measured along a nominally vertical axis.  Units: foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="DisplacementLength">
		<xsd:annotation>
			<xsd:documentation>The distance between a point and a specified origin measured along a nominally horizontal axis.  Units: foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="Duration">
		<xsd:annotation>
			<xsd:documentation>The length of a time interval in seconds.  Units: seconds.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:LongNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationConstant">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[\d\p{Lu}]([\d\p{L}]*_?)*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationConstantLowerCaseLetter">
		<xsd:annotation>
			<xsd:documentation>The is the variation of the enumerated type constants that has no restrictions.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[\p{Ll}]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationConstantPermissive">
		<xsd:annotation>
			<xsd:documentation>The base type of all symbol enumerated type constants that permit dashes or underscores  between combinations of letters and numbers.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationConstantPhrase">
		<xsd:annotation>
			<xsd:documentation>The base type of all multiple word enumerated type constants that contain spaces between the words in a phrase.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\d\p{Lu}][\d\p{L} ,\(\)-\.]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationConstantUnits">
		<xsd:annotation>
			<xsd:documentation>The base type of all enumerated type constants for units or units symbols.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="([\p{L}][\d\p{Ll}]*_?)*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationDateConstant">
		<xsd:annotation>
			<xsd:documentation>The base type of all date enumerated type constants.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationDecimalNonNegative">
		<xsd:annotation>
			<xsd:documentation>The base type of all numeric decimal non-negative enumerated type constants.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal4PlacesNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationIntegerNonNegative">
		<xsd:annotation>
			<xsd:documentation>The base type of all numeric interger non-negative enumerated type constants.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationYear">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="xsd:gYear"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationYesNo">
		<xsd:annotation>
			<xsd:documentation>The height, measured parallel to the surface, of a planar, vertical rectangular surface.  Units: foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="No"/>
			<xsd:enumeration value="Yes"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Height">
		<xsd:annotation>
			<xsd:documentation>Measures the vertical extent  of a vertical rectangular surface such as a wall or door or a space.  Units: feet.  Units: ft</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="HolidayName">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="ChristmasDay"/>
			<xsd:enumeration value="ColumbusDay"/>
			<xsd:enumeration value="IndependanceDay"/>
			<xsd:enumeration value="MartinLutherKingsBirthday"/>
			<xsd:enumeration value="MemorialDay"/>
			<xsd:enumeration value="NewYearsDay"/>
			<xsd:enumeration value="ThanksgivingDay"/>
			<xsd:enumeration value="VeteransDay"/>
			<xsd:enumeration value="WashingtonsBirthday"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Integer">
		<xsd:annotation>
			<xsd:documentation>Basic value of integer type.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerNonnegative">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="xsd:nonNegativeInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="ItemCount">
		<xsd:annotation>
			<xsd:documentation>This is the count of items used in Vertices.  Note that for simulation purposes, this value is required to hold either the actual count or the constant string value of  "Autocalculate" or "Unassigned"  Units: none</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:IntegerNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="ItemCountText">
		<xsd:annotation>
			<xsd:documentation>A type which records, as a special text field, a count of any type of object.  Units: none.  Note: Values of this type may be entered either as an integer or as one of the special values "AutoCalculate" or "Unassigned".  Therefore, the base type is a string.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="(\d\d*)|AutoCalculate|Unassigned"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="JA_TableCell">
		<xsd:annotation>
			<xsd:documentation>The is the row and column for a lookup into a Joint Appendix table.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="\d+[A-Z]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="JA_TableID">
		<xsd:annotation>
			<xsd:documentation>The three part identifier #.#.# for tables in the Joint Appendix.  The first number represents the appendix number, the second an major section and the third identifies the table in that section.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="\d+.\d+.\d+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Latitude">
		<xsd:annotation>
			<xsd:documentation>The angular distance of a place north or south of the earth's equator, usually expressed in degrees and minutes.  Units: deg arc</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="Length">
		<xsd:annotation>
			<xsd:documentation>The longer of the two dimensions of a horizontal rectangular surface.  Units: feet.  Units: ft</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="LinearExtent">
		<xsd:annotation>
			<xsd:documentation>A type which can be used to express the absolute value of the straight-line distance between any two points in space.  Units: foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="Longitude">
		<xsd:annotation>
			<xsd:documentation>The angular distance of a place east or west of the meridian at Greenwich, England.  Units: deg arc</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="LongNonnegative">
		<xsd:annotation>
			<xsd:documentation>Basic nonnegative value of long numeric type.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long">
			<xsd:minInclusive value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Month">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="January"/>
			<xsd:enumeration value="February"/>
			<xsd:enumeration value="March"/>
			<xsd:enumeration value="April"/>
			<xsd:enumeration value="May"/>
			<xsd:enumeration value="June"/>
			<xsd:enumeration value="July"/>
			<xsd:enumeration value="August"/>
			<xsd:enumeration value="September"/>
			<xsd:enumeration value="October"/>
			<xsd:enumeration value="November"/>
			<xsd:enumeration value="December"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MonthDay">
		<xsd:annotation>
			<xsd:documentation>Integer value represents the day of the month and therefore is in the range of 1-31, with limits on the high end depending on the value for the Month property  Units: none</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:gMonthDay"/>
	</xsd:simpleType>
	<xsd:simpleType name="MonthInteger">
		<xsd:annotation>
			<xsd:documentation>Interger value represents the month of the year and therefore is in the range of 1-12  Units: none</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:IntegerNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="Name">
		<xsd:annotation>
			<xsd:documentation>A string that uniquely defines an object in the data model.  It can be assigned in other objects as a Reference to the object, similar to a foreign key in relational database tables.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:ObjectNamePermissive"/>
	</xsd:simpleType>
	<xsd:simpleType name="NorthAxisAngle">
		<xsd:annotation>
			<xsd:documentation>The plane angle between true North and a building object axis which is nominally North-pointing.  See PlaneAngle.  Units degree_arc.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="ObjectName">
		<xsd:annotation>
			<xsd:documentation>The name of any object such as a material, construction assembly or building surface.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[\p{Lu}]([\d\p{L}/-]*_?)*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ObjectNamePermissive">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="PlaneAngle">
		<xsd:annotation>
			<xsd:documentation>The angle made by some vector measured clockwise from a specified reference vector.  The angle is in the plane defined by the two vectors.  Units: degree_arc.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="RoofRise">
		<xsd:annotation>
			<xsd:documentation>This is the distance that a roof rises vertically to its ridge and is used in calculating the roof pitch or slope.  Units: in</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="RoofRiseToRun">
		<xsd:annotation>
			<xsd:documentation>The roof pitch expressed as roof rise:run.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="\d+:\d+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RoofRun">
		<xsd:annotation>
			<xsd:documentation>This is horizontal distance from the wall top plate to the roof's ridge line and is used in calculating the roof pitch or slope  Units: in</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="SchemaVersion">
		<xsd:annotation>
			<xsd:documentation>The version number of the applicable XML schema.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative">
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StateAbbreviation">
		<xsd:annotation>
			<xsd:documentation>This value is a string to hold street information in an address associated with a building, organization or a person.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\p{Lu}{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StreetAddress">
		<xsd:annotation>
			<xsd:documentation>This value is a string to hold street information in an address associated with a building, organization or a person.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="String50Char">
		<xsd:annotation>
			<xsd:documentation>String values with maximum length of 50 characters.  Used in compliance document schemas to control test that has to be displayed.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SurfaceArea">
		<xsd:annotation>
			<xsd:documentation>Area is the two dimensional extent of a surface.  For horizontal rectangular areas, such as most floor areas, it is calculated by multiplying the linear extent of each dimension, usually referred to as Width and Length. For vertical rectangular surfaces such as walls, the vertical linear dimension is usually referred to as Height and the horizontal may be called Width or Length.  Units: ft2</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="Thickness">
		<xsd:annotation>
			<xsd:documentation>The thickness of a material.  Units: foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="Tilt">
		<xsd:annotation>
			<xsd:documentation>The angle of inclination of a planar surface to the horizontal.  Units: degrees  Tilt is an attribute of Spatial Attitude that is part of the definition of the Surface Geometry for Exterior Wall and Roof  Units: deg arc</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="Timestamp">
		<xsd:annotation>
			<xsd:documentation>A specific date and time associated with an event represented as the number of seconds between the event and the beginning of the year 1970.  The timestamp is specified in the time zone where the event occurs and indicates daylight savings time when in effect at the time of the event.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:LongNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="TimeZoneUTC">
		<xsd:annotation>
			<xsd:documentation>This is the international time zone value for the project, which for California Title 24 projects will be -8  Units: none</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:IntegerNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="TypeName">
		<xsd:annotation>
			<xsd:documentation>The unqualified name of any XML type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NCName"/>
	</xsd:simpleType>
	<xsd:simpleType name="Units">
		<xsd:annotation>
			<xsd:documentation>The allowable units of measure for denominate quantities.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="KilowattHour">
				<xsd:annotation>
					<xsd:documentation>A unit of energy equal to 1000 watts of power for one hour.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Therm">
				<xsd:annotation>
					<xsd:documentation>A non-SI unit of heat energy equal to 100,000 British thermal units (BTU).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UnitsCategory">
		<xsd:annotation>
			<xsd:documentation>The category to which the units for a denominate number belongs.  Each such unit belongs to a single category.  The same list of categories is used for all supported unit systems.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="Unassigned"/>
			<xsd:enumeration value="AirInfiltrationRate"/>
			<xsd:enumeration value="Area"/>
			<xsd:enumeration value="Dimensionless"/>
			<xsd:enumeration value="Energy"/>
			<xsd:enumeration value="HeatTransferCoefficient"/>
			<xsd:enumeration value="Length"/>
			<xsd:enumeration value="Mass"/>
			<xsd:enumeration value="MassDensity"/>
			<xsd:enumeration value="PlaneAngle"/>
			<xsd:enumeration value="Population"/>
			<xsd:enumeration value="PopulationDensityArea"/>
			<xsd:enumeration value="Power"/>
			<xsd:enumeration value="PowerDensityArea"/>
			<xsd:enumeration value="PowerPerOccupant"/>
			<xsd:enumeration value="SpecificHeatCapacity"/>
			<xsd:enumeration value="TemperatureInterval"/>
			<xsd:enumeration value="ThermalConductivity"/>
			<xsd:enumeration value="ThermalResistance"/>
			<xsd:enumeration value="TimeInterval"/>
			<xsd:enumeration value="Volume"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UnitsDataType">
		<xsd:annotation>
			<xsd:documentation>This type represents the numeric data types which can be handled by the units converter subsystem.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstantUnits">
			<xsd:enumeration value="Decimal"/>
			<xsd:enumeration value="Integer"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UnitsInchPound">
		<xsd:annotation>
			<xsd:documentation>The preferred units, for each UnitsBearingType, to be used in the InchPound (IP) system.  For each UnitsCategory, there are one or more preferred IP units.   For each specific UnitsBearingType, there is exactly one preferred IP unit.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstantUnits">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="British_thermal_unit"/>
			<xsd:enumeration value="British_thermal_unit_inch_per_hour_square_foot_degree_Fahrenheit"/>
			<xsd:enumeration value="British_thermal_unit_per_hour"/>
			<xsd:enumeration value="British_thermal_unit_per_hour_foot_degree_Fahrenheit"/>
			<xsd:enumeration value="British_thermal_unit_per_hour_person"/>
			<xsd:enumeration value="British_thermal_unit_per_hour_square_foot_degree_Fahrenheit"/>
			<xsd:enumeration value="British_thermal_unit_per_pound_degree_Fahrenheit"/>
			<xsd:enumeration value="cubic_foot"/>
			<xsd:enumeration value="cubic_foot_per_minute_square_foot"/>
			<xsd:enumeration value="degree_arc"/>
			<xsd:enumeration value="degree_Fahrenheit"/>
			<xsd:enumeration value="foot"/>
			<xsd:enumeration value="gallon"/>
			<xsd:enumeration value="hour_square_foot_degree_Fahrenheit_per_British_thermal_unit"/>
			<xsd:enumeration value="inch"/>
			<xsd:enumeration value="person"/>
			<xsd:enumeration value="person_per_thousand_square_foot"/>
			<xsd:enumeration value="pound"/>
			<xsd:enumeration value="pound_per_cubic_foot"/>
			<xsd:enumeration value="square_foot"/>
			<xsd:enumeration value="watt_per_square_foot"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UnitsSymbolInchPound">
		<xsd:annotation>
			<xsd:documentation>The symbol (abbreviation) for the preferred units, for each UnitsBearingType, to be used in the InchPound (IP) system.  For each UnitsCategory, there are one or more preferred IP units.  For each specific UnitsBearingType, there is exactly one preferred IP unit.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstantUnits">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="Btu"/>
			<xsd:enumeration value="Btu_inch_per_h_ft2_F"/>
			<xsd:enumeration value="Btu_per_h"/>
			<xsd:enumeration value="Btu_per_h_ft_F"/>
			<xsd:enumeration value="Btu_per_h_ft2_F"/>
			<xsd:enumeration value="Btu_per_h_person"/>
			<xsd:enumeration value="Btu_per_lb_F"/>
			<xsd:enumeration value="deg_arc"/>
			<xsd:enumeration value="ft"/>
			<xsd:enumeration value="ft2"/>
			<xsd:enumeration value="ft3"/>
			<xsd:enumeration value="ft3_per_min_ft2"/>
			<xsd:enumeration value="gal"/>
			<xsd:enumeration value="h_ft2_F_per_Btu"/>
			<xsd:enumeration value="inch"/>
			<xsd:enumeration value="lb"/>
			<xsd:enumeration value="lb_per_ft3"/>
			<xsd:enumeration value="F"/>
			<xsd:enumeration value="person"/>
			<xsd:enumeration value="person_per_thousand_ft2"/>
			<xsd:enumeration value="W_per_ft2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UnitsSymbolSystemInternational">
		<xsd:annotation>
			<xsd:documentation>The symbol (abbreviation) for the preferred units, for each UnitsBearingType, to be used in the SystemInternational (SI) system.  For each UnitsCategory, there are one or more preferred SI units.  For each specific UnitsBearingType, there is exactly one preferred SI unit.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstantUnits">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="deg_arc"/>
			<xsd:enumeration value="J"/>
			<xsd:enumeration value="J_per_kg_K"/>
			<xsd:enumeration value="K"/>
			<xsd:enumeration value="kg"/>
			<xsd:enumeration value="kg_per_m3"/>
			<xsd:enumeration value="kJ_per_kg_K"/>
			<xsd:enumeration value="L"/>
			<xsd:enumeration value="m"/>
			<xsd:enumeration value="m2"/>
			<xsd:enumeration value="m2_K_per_W"/>
			<xsd:enumeration value="m3"/>
			<xsd:enumeration value="m3_per_s_m2"/>
			<xsd:enumeration value="person"/>
			<xsd:enumeration value="person_per_m2"/>
			<xsd:enumeration value="W"/>
			<xsd:enumeration value="W_per_m_K"/>
			<xsd:enumeration value="W_per_m2"/>
			<xsd:enumeration value="W_per_m2_K"/>
			<xsd:enumeration value="W_per_person"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UnitsSystem">
		<xsd:annotation>
			<xsd:documentation>The standardized system of weights and measures to which a given unit belongs.  A single element of this type will occur in all XML instances which contain numeric quantities.  All such numeric elements in that instance will be expressed in the indicated unit system. Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="InchPound"/>
			<xsd:enumeration value="SystemInternational"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UnitsSystemInternational">
		<xsd:annotation>
			<xsd:documentation>The preferred units, for each UnitsBearingType, to be used in the SystemInternational (SI) system.  For each UnitsCategory, there are one or more preferred SI units.  For each specific UnitsBearingType, there is exactly one preferred SI unit.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstantUnits">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="cubic_meter"/>
			<xsd:enumeration value="cubic_meter_per_second_square_meter"/>
			<xsd:enumeration value="degree_arc"/>
			<xsd:enumeration value="joule"/>
			<xsd:enumeration value="joule_per_kilogram_kelvin"/>
			<xsd:enumeration value="kelvin"/>
			<xsd:enumeration value="kilogram"/>
			<xsd:enumeration value="kilogram_per_cubic_meter"/>
			<xsd:enumeration value="kilojoule_per_kilogram_kelvin"/>
			<xsd:enumeration value="liter"/>
			<xsd:enumeration value="meter"/>
			<xsd:enumeration value="person"/>
			<xsd:enumeration value="person_per_square_meter"/>
			<xsd:enumeration value="square_meter"/>
			<xsd:enumeration value="square_meter_kelvin_per_watt"/>
			<xsd:enumeration value="watt"/>
			<xsd:enumeration value="watt_per_meter_kelvin"/>
			<xsd:enumeration value="watt_per_person"/>
			<xsd:enumeration value="watt_per_square_meter"/>
			<xsd:enumeration value="watt_per_square_meter_kelvin"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Volume">
		<xsd:annotation>
			<xsd:documentation>The volume of any object.  Units: cubic_foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="Width">
		<xsd:annotation>
			<xsd:documentation>The shorter of the two dimensions of a horizontal  rectangular surface or the horizontal extent of a vertical rectangular surface  Units: feet  Units: ft</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="XCoordinate">
		<xsd:annotation>
			<xsd:documentation>A member of a CartesianPoint representing the length along the X axis from the origin.  Units: ft</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="YCoordinate">
		<xsd:annotation>
			<xsd:documentation>A member of a CartesianPoint representing the length along the Y axis from the origin.  Units: ft</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="ZCoordinate">
		<xsd:annotation>
			<xsd:documentation>A member of a CartesianPoint representing the length along the Z axis from the origin.  Units: none</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="Zipcode">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
</xsd:schema>
